<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/home-styles.css" />
    <title>Cristiano Ronaldo</title>
  </head>
  <body>
        <h1>Cristiano Ronaldo</h1>
        <center><img src="/images/estátua.jpeg"></center>
        <a href="/about">About Cristiano</a>
        <a href="/work">Cristiano Work</a>
    </header>
  </body>
</html>
